@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background:#FFFFFF;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ3", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 24px;
}

/*------------------------------------------
	Common
--------------------------------------------*/
a {
	color: #B66823;
	text-decoration: none;
}
h1 {

}
h2 {
	
}
h3 {
}
h4 {	
}

p {
	margin: 5px 0px;
}

.clear-both {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.email-right{
	margin-left: 20px;
}
.shadow {
	-webkit-box-shadow: 0 10px 10px -6px #0e0e0e;
	   -moz-box-shadow: 0 10px 10px -6px #0e0e0e;
	        box-shadow: 0 10px 10px -6px #0e0e0e;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#0e0e0e')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#0e0e0e');
}

/*------------------------------------------
	wrapper
--------------------------------------------*/
#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/*------------------------------------------
	Header
--------------------------------------------*/
#top {
	width: 100%;
	margin-top:0px;
}
#header {
	position: relative;
}
#brand {
	position: absolute;
	left: 50px;
	top: 47px;
}
#brand #logo{
	width: 130px;
}
#top-menu {
	position: absolute;
	right: 0px;
	top: 48px;
}
#top-menu ul {
	overflow: hidden;
}
#top-menu ul li {	
	margin-bottom: 10px;
	margin-right: -6px;
	/* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

	  /* IE 5-7 */
	  filter: alpha(opacity=90);

	  /* Netscape */
	  -moz-opacity: 0.9;

	  /* Safari 1.x */
	  -khtml-opacity: 0.9;

	  /* Good browsers */
	  opacity: 0.9;
}
#top-menu ul li a {
	display: block;
	width: 227px;
	height: 30px;
	text-indent: -100000px;
	background-repeat: no-repeat;
}

#top-menu ul li.m1 a {
	background: transparent url(../img/menu1.png);
}
#top-menu ul li.m1:hover a,
#top-menu ul li.m1.active  a{
	background: transparent url(../img/menu1-hover.png);
}
#top-menu ul li.m2  a{
	background: transparent url(../img/menu2.png);
}
#top-menu ul li.m2:hover a,
#top-menu ul li.m2.active  a{
	background: transparent url(../img/menu2-hover.png);
}
#top-menu ul li.m3  a{
	background: transparent url(../img/menu3.png);
}
#top-menu ul li.m3:hover a,
#top-menu ul li.m3.active a {
	background: transparent url(../img/menu3-hover.png);
}
#top-menu ul li.m4 a {
	background: transparent url(../img/menu4.png);
}
#top-menu ul li.m4:hover a,
#top-menu ul li.m4.active a {
	background: transparent url(../img/menu4-hover.png);
}
#top-menu ul li.m5 a {
	background: transparent url(../img/menu5.png);
}
#top-menu ul li.m5:hover a,
#top-menu ul li.m5.active a {
	background: transparent url(../img/menu5-hover.png);
}

/*------------------------------------------
	Content
--------------------------------------------*/
#content {
	padding: 43px 100px;
}
#content .half-content {
	width: 360px;
}
#content .half-content.fl {
	padding-right: 30px;
}
#content .half-content.fr {
	padding-left: 30px;
}
#content .half-content .block {
	padding-bottom: 15px;
	margin-bottom: 20px;
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
}
#content .half-content .header {
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
	margin-bottom: 17px;
	padding-bottom: 5px;
}
#content .half-content .content {
	font-weight: normal;
}
#content .half-content .content ul {	
}
#content .half-content .content ul li {
	margin-bottom: 5px;	
}

/*------------------------------------------
	Footer
--------------------------------------------*/
#footer {
	padding: 50px;
}
#footer .copyright {
	font-size: 11px;
}