@charset "UTF-8";
/* CSS Document */

body {
	margin: 0;
	padding: 0;
	background:#FFFFFF;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "ヒラギノ角ゴ3", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size: 12px;
	line-height: 24px;
}

/*------------------------------------------
	Common
--------------------------------------------*/
a {
	color: #B66823;
	text-decoration: none;
	outline: none;
}
h1 {

}
h2 {
	
}
h3 {
}
h4 {	
}

p {
	margin: 5px 0px;
}

.clear-both {
	clear: both;
}
.fl {
	float: left;
}
.fr {
	float: right;
}
.email-right{
	margin-left: 20px;
}
.shadow {
	-webkit-box-shadow: 0 10px 10px -6px #0e0e0e;
	   -moz-box-shadow: 0 10px 10px -6px #0e0e0e;
	        box-shadow: 0 10px 10px -6px #0e0e0e;
	-ms-filter: "progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#0e0e0e')";
	filter: progid:DXImageTransform.Microsoft.Shadow(Strength=10, Direction=90, Color='#0e0e0e');
}
.dot-line {
	background: transparent url(../../common/img/dot-hon.png) repeat-x 0 0; 
	height: 3px;
}
.dot-line-vertical {
	background: transparent url(../../common/img/dot-ver.png) repeat-y 0 0; 
	width: 3px;
}

/*------------------------------------------
	wrapper
--------------------------------------------*/
#wrapper {
	width: 1000px;
	margin: 0 auto;
}

/*------------------------------------------
	Header
--------------------------------------------*/
#top {
	width: 100%;
	margin-top:0px;
}
#header {
	position: relative;
}
#brand {
	position: absolute;
	left: 50px;
	top: 47px;
}
#brand #logo{
	width: 130px;
}
#top-menu {
	position: absolute;
	right: 0px;
	top: 48px;
}
#top-menu ul {
	overflow: hidden;
}
#top-menu ul li {	
	margin-bottom: 10px;
	margin-right: -6px;
	/* IE 8 */
	  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=90)";

	  /* IE 5-7 */
	  filter: alpha(opacity=90);

	  /* Netscape */
	  -moz-opacity: 0.9;

	  /* Safari 1.x */
	  -khtml-opacity: 0.9;

	  /* Good browsers */
	  opacity: 0.9;
}
#top-menu ul li a {
	display: block;
	width: 227px;
	height: 30px;
	text-indent: -100000px;
	background-repeat: no-repeat;
}

#top-menu ul li.m1 a {
	background: transparent url(../img/menu1.png);
}
#top-menu ul li.m1:hover a,
#top-menu ul li.m1.active  a{
	background: transparent url(../img/menu1-hover.png);
}
#top-menu ul li.m2  a{
	background: transparent url(../img/menu2.png);
}
#top-menu ul li.m2:hover a,
#top-menu ul li.m2.active  a{
	background: transparent url(../img/menu2-hover.png);
}
#top-menu ul li.m3  a{
	background: transparent url(../img/menu3.png);
}
#top-menu ul li.m3:hover a,
#top-menu ul li.m3.active a {
	background: transparent url(../img/menu3-hover.png);
}
#top-menu ul li.m4 a {
	background: transparent url(../img/menu4.png);
}
#top-menu ul li.m4:hover a,
#top-menu ul li.m4.active a {
	background: transparent url(../img/menu4-hover.png);
}
#top-menu ul li.m5 a {
	background: transparent url(../img/menu5.png);
}
#top-menu ul li.m5:hover a,
#top-menu ul li.m5.active a {
	background: transparent url(../img/menu5-hover.png);
}

/*------------------------------------------
	Content
--------------------------------------------*/
#content {
	padding: 43px 100px 0px 100px;
	overflow: hidden;
}
#content .underline {
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
}
#content .half-content {
	width: 360px;
}
#content .half-content.fl {
	padding-right: 30px;
}
#content .half-content.fr {
	padding-left: 30px;
}
#content .block-info {
	padding-bottom: 15px;
	margin-bottom: 20px;
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
}
#content .block-info .header {
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
	margin-bottom: 17px;
	padding-bottom: 5px;
}
#content  .block-info .content {
	font-weight: normal;
}
#content  .block-info .content ul {	
}
#content .block-info .content ul li {
	margin-bottom: 5px;	
}

#content .full-content {
}
#content .full-content .block-info {
	padding-bottom: 15px;
	margin-bottom: 20px;
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
}
#content .full-content .block-info .header {
	background: transparent url(../img/dot.png) repeat-x 0 100%; 
	margin-bottom: 18px;
	padding-bottom: 10px;
}
#content  .full-content .block-info .content {
	font-weight: normal;
}
#content  .full-content .block-info .content ul {	
}
#content  .full-content .block-info .content ul li {
	margin-bottom: 5px;	
	padding-left: 10px;
	background: transparent url(../img/dot-black.png) no-repeat 0 50%;
}

/*
  Block content
*/
.block {
	margin-bottom: 25px;
}
.block:last-child {
	margin-bottom: 0px;
}
.block .header {	
	margin-bottom: 3px;
}
.block .header  h2.title {
	font-size: 14px;
	margin-left: 1px;
	margin-right: 1px;
}
.block .header  img {
	vertical-align: middle;
	margin-top: -3px;
}
.block .header  img.op {
	margin-right: 1px;
}
.block .header  img.cl {
	margin-left: 1px;
}
.block .content {
	font-size: 13px;
}
.block .content ul {
}
.block .content ul  li{
	padding-left: 8px;
	background: transparent url(../img/dot-black.png) no-repeat 0 50%;
}
.block  .container {
	position: relative;
}
.block  .container .dot-line-ver-left {
	position: absolute;
	top: 3px;
	bottom: 3px;
	left: 0px;
	width: 3px;
	background: transparent url(../img/dot-ver.png) repeat-y 0 0;
}
.block  .container .dot-line-ver-right {
	position: absolute;
	top: 3px;
	bottom: 3px;
	right: -1px;
	width: 3px;
	background: transparent url(../img/dot-ver.png) repeat-y 0 100%;
}
.block  .container .section {
	padding: 20px 20px 8px 20px
}
.container .section  h3.section-title {
	font-size: 13px;
	line-height: 13px;
}
.container .section .section-desc {
	font-size: 12px;
	margin: 0px;
	margin-bottom: 7px;
}
.container .section .image-row {
	overflow: hidden;
	margin-bottom: 10px;
}
.container .section .image-row  .img-item {
	margin-right: 20px;
}
.container .section .image-row  .img-item:last-child {
	margin-right: 0px;
}
.container .section .image-row  .img-item img {
	margin-bottom: 2px;
}
.container .section .image-row  .img-item .img-desc{
	display: block;
}

/*------------------------------------------
	Footer
--------------------------------------------*/
#footer {
	padding: 50px;
}
#footer .copyright {
	font-size: 11px;
}