#header {
	background: transparent url(../../img/page5_1/heading.jpg) no-repeat -80px -90px;
	height: 300px;
}

#top-text {
	position: absolute;
	bottom: 25px;
	left: 100px;
	max-width: 625px;
}
#content {
	padding-top: 48px;
	padding-left: 98px;
}
#content .block {
	margin-bottom: 30px;
}
#content .block:last-child {
	margin-bottom: 0;
}
#content .block .header {
	line-height: 16px;
	letter-spacing: 1.8px;
	margin-bottom: 8px;
}
#content .block .content p {
	line-height: 18px;
	margin: 6px 0px;
}
#content .block .underline {
	margin-top: 8px;
	width: 100%;
	height: 11px;
}
#content .block .content ul {
	margin-top: 16px;
}
#content .block .content li {
	line-height: 21px;
	list-style: disc;
}
#content .half-content .header {
	background-image: none;
}
#content .half-content.fl .header {
	margin-bottom: 0;
}
#footer {
	padding-top: 5px;
}