@charset "utf-8";
body {
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	font-size:14px;
	color: #333;
	background-color:#FFF;
}
* {
	margin:0;
	padding:0;
}
a, a:visited {
	text-decoration: none;
	color: #069;
}
small{
	color:#000;
	font-weight:bold;
}
a:hover {
	color: #F90;
	
}
.tel-info a:hover {
	color: #f77b09;
	
}
a img:hover {
	opacity:0.6;
}
img {
	border:none;
}
span.red{
	color:red;
}
.left18{
	margin-left:18px;
}
/**********************************[共通装飾]***/
.circle {
	background-color:#F77B09;/*電話アイコン、見出しアイコン背景色*/
	color:#fff;/*見出しアイコン色*/
	text-align:center;
	padding:6px;
	display:block;
	float:left;
	width:30px;
	height:30px;
	margin-right:8px;
	text-shadow:-1px -1px 2px rgba(0,0,0,0.2);
	-webkit-border-radius: 100%;
	-moz-border-radius: 100%;
	border-radius: 100%;
	behavior: url(PIE.htc);
}
.circle img {
	vertical-align:middle;
	padding-top:2px;
}
br.clear, p.clear {
	clear: both;
	font: 0pt/0pt sans-serif;
}
.clear {
	overflow:hidden;
	zoom:1;
}
.wrapper {
	margin: 0 auto;
	width: 980px;
}
.r6 {
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc);
}
.r10 {
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 4px;
	behavior: url(PIE.htc);
}
.r20 {
	-webkit-border-radius: 20px;
	-moz-border-radius: 20px;
	border-radius: 4px;
	behavior: url(PIE.htc);
}
.right {
	text-align:right;
}
.left {
	text-align:left;
}
.center {
	text-align:center;
}
.alignright {
	float:right;
}
.alignleft {
	float:left;
}
/**********************************[slider]***/
#slider{
	width:660px;
	height:380px;
}
/**********************************[header]***/
#header-color {
	width:100%;
	height:6px;
	background-color:#00bfff ;/*ページ最上部のアクセント色*/
}
.header {
	height:150px;
	width:100%;
	background-color:#fff;/*ヘッダー背景色*/
	border-bottom:#0C7CB1 1px solid;
}
.header .site-title {
	float:left;
}
.header .site-title img {
	margin-top:10px;
}
.header .catch {
	display: table-cell;
	vertical-align: middle;
	height:125px;
	color:#09c;/*サイトキャッチコピーの文字色*/
	font-size:0.9em;
	padding:0 20px;
}
.header .tel-info {
	float:right;
	min-width:300px;
	padding-top:10px;
}
.header .tel-info .phone a, .header .tel-info .phone a:visited {
 color:#0C7CB1;
}
.header .tel-info .open {
	background-color:#4382A5;
	color:#FFF;
	text-align:left;
	padding:6px 0px 6px 30px;
}
.header .tel-info .phone {
	font-size:2.3em;
	color:#666;
	height:40px;
	padding-top:10px;
	margin-top:10px;
	background: url(../img/phone.png) center left;
	background-repeat: no-repeat;
	text-align: left;
	margin-left:0px;
	margin-bottom:5px;
	padding-left: 50px;
}
/**********************************[main-image]***/
.title-area {/*メインイメージ、ヘッダーイメージ背景色*/
	width:100%;
	height:auto;
	box-sizing:border-box;
	border-bottom:#0C7CB1 1px solid;
	background: #00bfff; /* Old browsers */
	
}
.main-image {
	width:660px;
	height:auto;
	float:left;
	position:relative;
}
.main-image .main-copy {
	box-sizing:border-box;
	background-color:rgba(0,0,0,0.5);
	color:#fff;
	text-align:center;
	padding:20px;
	font-size:1.6em;
	position: absolute;
	bottom:30px;
	width:100%;
-moz-box-sizing: border-box;　/* Firefox用 */
	height:auto;
	z-index:100;
}
.main-image .main-copy2 {
	box-sizing:border-box;
	color:#FFF;
	text-align: left;
	padding:20px 20px 20px 40px;
	background-color: rgba(0,0,0,0.5);
	font-size:2.3em;
	position: absolute;
	bottom:30px;
	height:auto;
}
.page-title{
	display:block;
	height:200px;
	width:auto;
	margin-top:-200px;
	line-height:200px;
	padding-left:50px;
	font-weight:normal;
	color:#333;
	font-size:2.4em;
	text-shadow:1px 1px 2px rgba(255,255,255,0.7);
}
/**********************************[global-navi]***/
ul.global {
	list-style:none;
	display:block;
	width:300px;
	height:auto;
	padding-top:20px;
	float:right;
}
.sub-side ul.global{
	margin-bottom:10px;
}
ul.global li {
	padding-bottom:15px;
}
ul.global li a, ul.global li a:visited {
	display:block;
	background-image:url(../img/tri.png);
	background-position: 10px 50%;
	background-repeat:no-repeat;
	background-color: #0C7CB1;
	color:#fff;
	font-size:1.4em;
	padding:15px 10px 12px 35px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	border:2px solid #00bfff;
	behavior: url(PIE.htc);
}
ul.global li a:hover {
	background-color: #fff;
	color:#f77b09;
	text-decoration:none;
}
.active{
	color:#f77b09 !important;
	background-color: #fff !important;
}
/**********************************[main]***/
.main {
	width:660px;
	height:auto;
	margin:30px 0;
	float:left;
}
.main-sub {
	padding:0 20px;
	width:620px !important;
}
.main-sub h2, .main-sub h3, .main-sub h4 .main-sub h5{
	margin:0 -20px;
}
.main b{
	color:#F33;
}
.main .content-title {
	background-color:#0C7CB1;
	color:#fff;
	font-size:1.4em;
	padding:5px 10px;
	margin-bottom:30px;
	font-weight:normal;
}
.main .content-title .c-title {
	font-size:1.6em;
	line-height:1;
	margin:-9px 10px;
}
.main h3{
	font-size:1.4em;
	margin-top:30px;
	margin-bottom:20px;
	padding: 5px 20px;
	font-weight:normal;
	color:#006699;
	background-color:#fff;
	border-bottom: double #0C7CB1;
	text-shadow:1px 1px 2px rgba(255,255,255,1);
	
	behavior: url(PIE.htc);
}
.main h4{
	font-size:1.2em;
	padding: 3px 0px;
	font-weight:normal;
	color:#006699;
}
.main p{
	line-height:150%;
	letter-spacing:0.5px;
}
.main ul.list {
	list-style:none;
	margin:30px -20px;
}
.main ul.list li {
	padding:20px 20px 10px 70px;
	background:url(../img/hr.png) 0 bottom repeat-x; 
}
.main ul.list li span{
	display:inline-block;
	color:#069;
	min-width:80px;
}
.main ul.normal{
	margin:20px 40px;
}
.main ul.normal li{
	padding:10px 0;
	font-style: italic;
	color: #036;
}
/**********************************[side]***/
.sub-side {
	margin:10px 0 20px !important;
}
.side {
	width:300px;
	height:auto;
	margin:30px 0 20px;
	float:right;
}
/***[contact-banner]***/
.side .conact-banner {
	box-sizing:border-box;
	border:1px solid #F77B09;
	background:url(../img/phone-contact_bg.png) right center no-repeat #fff;
	padding:10px 15px;
	margin-bottom:10px;
}
.side .conact-banner .head {
	font-size:1.5em;
	font-weight:normal;
	color:#069;
}
 .conact-banner  span{
	 
	width:100%;
	height:auto;
	
}
.side .conact-banner small {
	font-size:0.8em;
	font-weight:normal;
	color:#666;
}
/***[phone-banner]***/
.side .phone-banner {
	box-sizing:border-box;
	border:1px solid #F77B09;
	background-color:#fff;
	text-align:center;
	font-weight:normal;
	padding:0 15px 5px;
	margin-bottom:10px;
}
.side .phone-banner .head {
	background-color:#F5AC69;
	font-weight:normal;
	color:#FFF;
	font-size:1.2em;
	padding:3px 0;
	margin:0 -15px;
	-webkit-border-radius: 3px 3px 0 0;
	-moz-border-radius: 3px 3px 0 0;
	border-radius: 3px 3px 0 0;
	behavior: url(PIE.htc);
}
.side .phone-banner img {
	vertical-align:middle;
}
.side .phone-banner .num {
	font-size:1.7em;
	font-weight: bold;
	color:#369;
	text-align: center;
	line-height: 200%;
	margin-bottom:-10px;
}
.side .phone-banner small {
	font-size:0.9em;
	font-weight:normal;
	color: #09c;
}
/**********************************[footer]***/
#footer {
	width:100%;
	height:auto;
	background-color:#00bfff;/*フッター背景色*/
	text-align:center;
	color:#FFF;
}
#footer p {
	padding:20px 0;
}
#footer p a {
	line-height:170%;
}
#footer a, #footer a:visited {
	color:#FFF;
}
#footer a:hover{
	color:#f77b09;
	text-decoration:none;
}
#footer .copyright {
	padding:10px 0;
	font-size:0.9em;
	color:rgba(255,255,255,0.7);
	background-color:#0C7CB1;
	box-shadow:0px 5px 5px rgba(0,0,0,0.2) inset;
}
#footer .copyright a {
	color:#FFF;
}
#footer .copyright a:hover {
	color:#f77b09;
	text-decoration:none;
}
/**********************************[to pagetop]***/
#pageTop {
	background:#fff;
	color:#4989fd;
	padding:5px 10px 0;
	position:fixed;
	bottom:0;
	right:60px;
	font-weight:bold;
	font-size:2em;
	text-align:center;
	box-shadow:1px 1px 2px #333;
	opacity:0.7;
}
#pageTop:hover {
	background:#fff;
	color: #F77b09;
	opacity:1;
}
#pageTop small {
	font-weight:normal;
	font-size:12px;
}