@charset "UTF-8";
/* CSS Document */
#header {
	background: transparent url(../../img/page2_1/image02.jpg) no-repeat -153px 0;
	height: 300px;
}

#top-text {
	position: absolute;
	bottom: 25px;
	left: 96px;
	max-width: 625px;
}

h2._head {
	font-size:14px !important;
	font-weight:bold !important;
	font-family: "ヒラギノ明朝 Pro W3","Hiragino Mincho Pro","ＭＳ Ｐ明朝","MS PMincho",serif;
}