div.txt-content {
	line-height: 22px;
}

#table01 tr td{
	padding:5px 0px;
	border-collapse:collapse;
	border-bottom:1px solid #CCC;
}#table01 img{
	width:170px;
}
#table01 tr th{
	width:100px;
	padding:5px 0px;
	text-align:left;
	border-collapse:collapse;
	border-bottom:1px solid #CCC;
}

#bggray{
	background:#CCC;
	padding:10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc);
}

h4.children-title {
    background-color: #fff;
    border-left: 5px solid #0c7cb1;
    border-radius: 5px;
    color: #006699;
    font-size: 1.1em;
    font-weight: normal;
    margin: 0 -20px 0 0;
    padding: 5px 10px;
    text-shadow: 1px 1px 2px rgba(255, 255, 255, 1);
}
