#table01 tr td{
	padding:5px 0px;
	border-collapse:collapse;
	border-bottom:1px solid #CCC;
}#table01 img{
	width:170px;
}
#table01 tr th{
	width:100px;
	padding:5px 0px;
	text-align:left;
	border-collapse:collapse;
	border-bottom:1px solid #CCC;
}

#bggray{
	background:#CCC;
	padding:10px;
	-webkit-border-radius: 6px;
	-moz-border-radius: 6px;
	border-radius: 6px;
	behavior: url(PIE.htc);
}
