#header {
	background: transparent url(../../img/page3/image03.jpg) no-repeat 0px -510px;
	height: 300px;
}

#top-text {
	position: absolute;
	bottom: 24px;
	left: 96px;
	max-width: 625px;
}
#content {
	padding-top: 47px;
}
.block {
	margin-bottom: 30px;
}
.block .content p {
	line-height: 20px;
}
.block .header {
	line-height: 16px;
}