#header {
	background: transparent url(../../img/top/image01.jpg) no-repeat 0 -175px;
	height: 680px;
}

#top-text {
	position: absolute;
	bottom: 50px;
	left: 50px;
	max-width: 580px;
	font-weight: bold;
}
#top-text p {
	margin: 0px;
}
