#header {
	background: transparent url(../../img/top/image01.jpg) no-repeat;
	height: 900px;
}

#top-text {
	position: absolute;
	bottom: 50px;
	left: 50px;
	max-width: 550px;
	font-weight: bold;	
}
#top-text p {
	margin: 0px;
}
