#header {
	background: transparent url(../../img/top/image01.jpg) no-repeat 0 -190px;
	height: 660px;
}

#top-text {
	position: absolute;
	bottom: 50px;
	left: 50px;
	max-width: 625px;
	font-size: 13px;
	font-weight: bold;
	/*font-family: "ƒqƒ‰ƒMƒm–¾’© Pro W3","Hiragino Mincho Pro","‚l‚r ‚o–¾’©","MS PMincho",serif;*/
}
#top-text p {
	margin: 0px;
}
